@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
<h3>LABOURZILLAZONE</h3>
    <p class="align-content-center">
        <h4>
            Labourzilla Zone bridge the gap between a consumer and a labourer by an easy to use online system for searching and hiring workers such as plumbers, carpenters, electricians, painter and many more.
            Our aim is to provide work to each labourer by connecting them with this website where each and every labourer has their own identity, so mass can connect with them easily for getting services. Starting from registration of a labour, it maintains all the details of customers and labours. The main objective of this project is to save time and effort. In this system, customer can register online instead of going to anywhere to find labours. This will also has a strong social aspect as it plans to change the lives of millions of workers who are not technology literate.  Labours can create their profile and upload all their details including their specialization and customer can view the list of labours and can hire them according to their requirements.
        </h4>
    </p>

</div>

