@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron " style="background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/labour2.jpg);height:600px;width:100%;">
        <h1>LabourZillaZone</h1>
    </div>

    </div>